{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content article-content-narrow">
				<h1 class="article-h1">{{ post.title }}</h1>
                <div class="rkg-side">
                    <ul class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-120 current_page_item menu-item-857"><a title="
                        " href="{{ function('home_url') }}/index.php/Aktualno/" aria-current="page">Aktualno</a>
                        <ul class="sub-menu">
                            {% for categorie in categories %}
                                <li id="menu-item-856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-856"><a title="" href="{{ function('home_url') }}/index.php/Aktualno/?cat={{ categorie.term_id }}">– {{ categorie.name }}</a></li>
                            {% endfor %}
                        </ul>
                        </li>
                    </ul>
                    <hr class="wp-block-separator only-mobile">
                </div>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
